.ImgUpload{
  margin-left: 56px;
  text-align: center;
  margin-bottom: 30px;
  label img{
    width: 124px;
    height: 124px;
    border-radius: 50%;
    cursor: pointer;
  }
  input{
    display: none;
  }
}