.InputField {
  display: flex;
  height: 50px;
  background-color: white;
  border-bottom: 1px #cccccc solid;

  .SendImageIcon{
    margin-top: 6px;
    margin-left: 2px;
    cursor: pointer;
  }

  .SendImage{
    &>input{
      display: none;
    }
  }

  .FileUpload{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .SendImageWithExit{
    overflow: visible;
    position: relative;
    &>span{
      position: absolute;
      background: transparent;
      color: black;
      top: -5px;
      right: -5px;
      &:hover{
        color: red;
        cursor: pointer;
      }
    }
  }


  .InputTextArea{
    padding: 10px;
    border: 0;
    width: 80%;
    outline:none;
    resize:none;
    overflow: paged-y;

    &::-webkit-scrollbar{
      height: 4px;
      width: 0;
    }

  }
  .SendIcon{
    display: flex;
    width: 20%;
    text-align: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    .IconSvg{
      font-size: 28px;
      &:hover{
        font-size: 32px;
        color: #8cfe56;
      }
    }
  }

}