.Chat{
height: 100%;
  .ChatHeader{
    height: 50px;
    border-bottom: #cccccc 1px solid;
    border-right: #cccccc 1px solid;
    background-color: #efeff9;
    .UserHeader{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .UserHeaderName{
        font-weight: bold;
      }
    }
    .TeamHeader{

    }
  }

  .ChatField {
    border-right: #cccccc 1px solid;
    height: calc(100% - 50px);
    background-color: #efeff9;


    .MessageField{
      height: calc(100% - 50px);
      overflow-y: auto;
    }
  }

}