$startBgColor: #05ff53;
$pauseBgColor: #342daa;
$resetBgColor: #ff452a;
$commandButtonColor: white;
.CommandButton {
  margin:5px;
  display: flex;
  flex-flow: row;
  height: 32px;
  justify-content: space-between;

  > button {
    font-weight: bold;
    box-sizing: border-box;
    width: 32%;
    color: $commandButtonColor;
    cursor: pointer;
  }

  .StartButton {
    background-color: #05ff53;
  }


  .PauseButton {
background-color: $pauseBgColor;
  }

  .ResetButton {
background-color: $resetBgColor;
  }


}