.CommandButton {
  margin:15px;
  display: flex;
  flex-flow: row;
  height: 32px;
  justify-content: space-between;

  > button {
    font-weight: bold;
    box-sizing: border-box;
    width: 32%;
    cursor: pointer;
  }

}