$newTeamBtColor: #3b0062;
$newTeamBtHoverColor: #54007f;


.Teams {
  height: 100%;
  width: 100%;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  box-sizing: border-box;

  .MenuTeams {
    padding: 15px 0;
    height: 100%;
    width: 170px;
    //background-color: white;
    background-image: linear-gradient(#011525, darkblue);
    color: white;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
   // border-right: #E8E8E8 1px solid;

    .HeaderName{
        color: white;
        font-size: 1.2em;
    }


    .NewTeamButton {
      justify-content: center;
      width: 75%;
      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer;
      background-color: $newTeamBtColor;
      color: white;
      padding: 0.5rem 1rem;
      &:hover {
        background-color: $newTeamBtHoverColor;
      }

    }
  }

  .ContentTeams {
    overflow: auto;
    padding: 15px;
    width: 75%;
    background-color: white;
  }

  @media (min-width: 700px) {
    .ContentTeams {
      width: calc(100% - 170px);
    }
    .MenuTeams{
      width: 170px;
    }
  }

}