
.TeamCard{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 10px;
  align-items: center;

  &:hover{
    //background-color: #00B7FF;
   // border-right: #1890ff 3px solid ;
    //margin-left: 20px;
    //width: calc(100% - 20px);
    background-color: #e6f7ff;
    .TeamName{
      color: #00B7FF;
    }
  }

  &.SelectedTeamCard{
    //background-color: #00B7FF;
    margin-left: 20px;
    width: calc(100% - 20px);
    //border-right: #1890ff 3px solid ;
   // background-color: #e6f7ff;
    background-color: white;
    .TeamName{
     // color: #00B7FF;
      color:black;
    }
  }

  .TeamName{
    padding: 5px;
    font-size: 1em;
  }

}

