$primary-bg-color:#001529;


.Navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 100%;

  .Me {
    font-size: 1.2em;
    color: white;
    margin-right: 10px;
  }
}
@media (min-width: 500px) {
.Navigation {
flex-flow: row;
}
}

.Menu{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  color: white !important;
  background-color: $primary-bg-color !important;
  box-shadow: none !important;
  opacity: 0.85 !important;

  &>li{
    color: white !important;
    background-color: $primary-bg-color !important;
    box-shadow: none !important;
    &>ul{
      margin-top: 15px !important;
      box-shadow: none !important;
      color: white !important;
      background-color: $primary-bg-color !important;
    }
  }
}

.MenuDrawer{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  box-shadow: none !important;
  border:none !important;
}

