.Navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;

  .Me {
    font-size: 1.2em;
    color: white;
    margin-right: 10px;
  }
}
@media (min-width: 500px) {
.Navigation {
flex-flow: row;
}
}


