.PomodoroTimer{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: center;

  .Timer{
      cursor: pointer;
  }

}

.Duration{
  display: flex;
  flex-flow: column;
  align-items: center;
  .Slider{
    width: 60%;
    text-align: center;
    .SliderComponent{
    }
  }

  margin: 1em;
  .SetDuration{
    margin: auto;
  }
  .Command{
  width: 80%;
  }
}