.Message{
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  width: 100%;



  .MessageAvatar{
  }

  .MessageContent {
    margin-top: 10px;
    margin-left: 5px;
    width: 100%;
    display: flex;
    flex-flow: column;
    .MessageTime {
      width: 90%;
      text-align: right;

      &.TimeAway{
        text-align: left;
        padding-left: 10%;
      }
    }

    .MessageText {
      border-radius:15px;
      padding: 20px;
      width: 100%;

        background-image: linear-gradient(to right,#2eddff,#55f409 );

      &.TextAway{
     //   background-color: #55f409;
        background-image: linear-gradient(to right,#55f409,#2eddff );
      }
    }
  }



  .MessageContent.MessageAway{
    margin-left: 0;
    margin-right: 5px;
  }
}
