
.Message{
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  width: 100%;
  animation: scale-in;
  animation-duration: 2s;
  animation-delay: 1s;


  .MessageAvatar{
  }

  .MessageContent {
    margin-top: 10px;
    margin-left: 5px;
    min-width: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .MessageTime {
      width: 90%;
      text-align: right;

      &.TimeAway{
        text-align: left;
        padding-left: 10%;
      }
    }

    .MessageText {
      border-radius:10px;
      padding: 10px;
      width: 100%;
      background-color: white;
      color:black;
       // background-image: linear-gradient(to right,#2eddff,#55f409 );
      &.TextAway{
     //   background-color: #55f409;
        //background-image: linear-gradient(to right,#55f409,#2eddff );
       // color:white;
        background-color: #335fff;
        color:white;
      //  background-color: #ececf4;
      }
      &.Image{
        border-radius: 10px;
        background-color: transparent;
        background-image:unset;
        padding: 0;
      }
    }
  }

.ReactPlayer{
  border-radius: 10px;
}

  .MessageContent.MessageAway{
    margin-left: auto;
    margin-right: 5px;
  }
}
