.ListUsers{
  display: flex;
  flex-flow: column;
  overflow: auto;

  .HeaderList{
    margin-bottom: 10px;
    display: flex;
    height: 42px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
    justify-content: center;
    align-items: center;
    align-self: center;

    &:hover{
      border-right: #1890ff 3px solid ;
      background-color: #e6f7ff;
    }

    &.SelectedHeaderCard{
      //background-color: #00B7FF;
      border-right: #1890ff 3px solid ;
      // background-color: #e6f7ff;
      background-color: #efeff9;
      .NameUser{
        color: #00B7FF;
      }
    }
  }

  .UserCard{
    display: flex;
    cursor: pointer;
    padding: 10px;

    &>span{
      align-self: center;
    }

    &:hover{
      border-right: #1890ff 3px solid ;
      background-color: #e6f7ff;
      .NameUser{
        color: #00B7FF;
      }
    }

    &.SelectedUserCard{
      //background-color: #00B7FF;
      border-right: #1890ff 3px solid ;
     // background-color: #e6f7ff;
      background-color: #efeff9;
      .NameUser{
        color: #00B7FF;
      }
    }
  }

  .NameUser{
    .Badge{
      text-align: left;
    }
    margin-left: 10px;
    &>span{
      display: block;
      //text-align: center;
    }
  }


}